.sidebar {
  background-color: #f8f6ff !important;
  min-height: 92vh;
  position: fixed;
  width: 15%;
}

@media (max-width: 1435px) {
  .sidebar {
    width: 16.5%;
  }
}

@media (max-width: 991.98px) {
  .sidebar {
    position: sticky;
    width: 100%;
    min-height: 0;
    border-radius: 10px;
    margin-top: 10px;
  }
}

.sidebar .items:hover span {
  display: inline-block;
  transform: translate(5px);
}

.sidebar-active {
  background-color: #e1d8f1;
  color: #673ab7 !important;
  position: relative;
}
.sidebar-active::before {
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #673ab7;
  content: "";
  top: 0;
  left: 0;
}
